<nav class="site-header py-1">

  <div class="container d-flex flex-column flex-md-row justify-content-between">

    <a class="py-2 d-none d-md-inline-block" href="#">Get Best Products</a>
    <a class="py-2 d-none d-md-inline-block" href="#">Personal Details</a>
    <a class="py-2 d-none d-md-inline-block" href="#">About Business</a>
    <a class="py-2 d-none d-md-inline-block" href="#">FATCA & Other Declaration</a>
    <a class="py-2 d-none d-md-inline-block" href="#">Review & E-Sign</a>
  </div>
</nav>